<h2><%= question_form_header(@question) %></h2>

<div class="form">
  <%= form_with model: [@test, @question], local: true do |f| %>
    <%= render 'shared/errors', resource: @question %>

    <%= f.text_area :body, size: '80x3', placeholder: 'Question text here...' %>
    <%= f.submit %>
  <% end %>
</div>
