<h1><%= question_form_header(@question) %></h1>

<%= form_with model: [@test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, size: '80x3' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
