<h2><%= t('.header') %></h2>
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="sort-by-title pointer">
        <%= t('activerecord.attributes.badge.name') %>
        <%= octicon 'triangle-up', class: 'text-success hide' %>
        <%= octicon 'triangle-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('activerecord.attributes.badge.description') %></th>
      <th scope="col"><%= t('activerecord.attributes.badge.check_type') %></th>
      <th scope="col"><%= t('activerecord.attributes.badge.param') %></th>
      <th scope="col" colspan="3" class="text-center"><%= t('shared.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @badges %>
    </tbody>
  </table>
</div>
<div class="row justify-content-center">
  <div class="col nav">
    <%= link_to t('shared.new_badge'), new_admin_badge_path, class: 'nav-link' %>
  </div>
</div>
