<h1>The <%= @test_passage.test.title %> Test was completed!</h1>

<% if test_result_success?(@test_passage) %>
  <p class="pass-result">
<% else %>
  <p class="fail-result">
<% end %>

You <%= test_result_status(@test_passage) %> the test (<%= test_result_percent(@test_passage) %>%)
</p>

<%= link_to 'Tests Index', tests_path %>

<%= console %>
