<h1><%= t('.header', test_title: @test_passage.test.title) %></h1>

<p>
  (<%= test_progress(@test_passage) %>)
  <%= @test_passage.current_question.body %>
</p>

<div>
  <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <div class="field">
        <%= b.check_box id: "answer_ids_#{b.object.id}" %>
        <%= b.label id: "answer_ids_#{b.object.id}", style: 'display: inline' %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit t('.next_question_button') %>
    </div>
  <% end %>
</div>
