<div class="footer">
  <p>
    &copy;<%= current_year %>
    <%= t('.project_author') %>,
    <%= t('.project') %>:
    <%= link_to 'TestGuru', github_url('Viktor-KN', 'TestGuru'), target: '_blank' %>
  </p>
  <p><%= t('.project_description') %></p>
  <p><%= link_to t('.thinknetica_link_description'), 'http://thinknetica.com/', target: '_blank' %></p>
</div>
