<nav class="footer navbar navbar-light bg-light">
  <dl>
    <dt>&copy;<%= current_year %>
      <%= t('.project_author') %>,
      <%= t('.project') %>:
      <%= link_to 'TestGuru', github_url('Viktor-KN', 'TestGuru'), target: '_blank' %></dt>
    <dd><%= t('.project_description') %></dd>
    <dd><%= link_to t('.thinknetica_link_description'), 'http://thinknetica.com/', target: '_blank' %></dd>
  </dl>
  <div class="float-right align-center mr-2">
    <%= link_to t('.feedback_link'), feedback_new_path %>
  </div>
</nav>
