<tr>
  <td><%= answer.body %></td>
  <td><%= answer.correct %></td>
  <td><%= link_to 'Show', answer %></td>
  <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
  <td><%= link_to 'Delete', answer, method: :delete, data: { confirm: 'Really?' } %></td>
</tr>
