<p>
  <strong><%= t('activerecord.models.question') %>:</strong>
  <%= @answer.question.body %>
</p>

<p>
  <strong><%= t('activerecord.models.answer') %>:</strong>
  <%= @answer.body %>
</p>

<p>
  <strong><%= t('activerecord.attributes.answer.correct') %>:</strong>
  <%= t("admin.answers.answer.correct.#{@answer.correct}") %>
</p>

<div class="row justify-content-center">
  <div class="col nav">
    <%= link_to t('shared.edit'), edit_admin_answer_path(@answer), class: 'nav-link' %>
    <%= link_to t('shared.delete'), admin_answer_path(@answer), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'nav-link' %>
    <%= link_to t('shared.back'), admin_question_path(@answer.question), class: 'nav-link' %>
  </div>
</div>
