<h2><%= t('tests.index.header') %></h2>

<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" class="sort-by-title pointer">
        <%= t('activerecord.models.test') %>
        <%= octicon 'triangle-up', class: 'text-success hide' %>
        <%= octicon 'triangle-down', class: 'text-success hide' %>
      </th>
      <th scope="col"><%= t('activerecord.attributes.test.category') %></th>
      <th scope="col"><%= t('activerecord.attributes.test.level') %></th>
      <th scope="col"><%= t('tests.index.question_count') %></th>
      <th scope="col" colspan="3" class="text-center"><%= t('shared.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @tests %>
    </tbody>
  </table>
</div>
<div class="row justify-content-center">
  <div class="col nav">
    <%= link_to t('.new_test'), new_admin_test_path, class: 'nav-link' %>
  </div>
</div>
