<p>
  <strong><%= t('activerecord.attributes.test.title') %>:</strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.test.category_id') %>:</strong>
  <%= @test.category.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.test.level') %>:</strong>
  <%= @test.level %>
</p>

<table>
  <thead>
  <tr>
    <th><%= t('activerecord.models.question') %></th>
    <th><%= t('.answer_count') %></th>
    <th colspan="3"><%= t('shared.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <%= render @test.questions %>
  </tbody>
</table>
<br>

<%= link_to t('shared.new_question'), new_admin_test_question_path(@test) %> |
<%= link_to t('shared.edit_test'), edit_admin_test_path(@test) %> |
<%= link_to t('shared.delete_test'), admin_test_path(@test), method: :delete, data: { confirm: t('shared.are_you_sure') } %> |
<%= link_to t('shared.back'), admin_tests_path %>
