<h1><%= test_form_header(@test) %></h1>

<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.number_field :level %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all.order(title: :asc), :id, :title, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
